

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 400; font-style: normal;
  color: #565a5c;
}

a {
  color: #3e87b2;
}
  a:hover {
    color: #ff656a;
    text-decoration: none;
  }
    a:hover .glyphicon {
      color: #ff656a;
    }

nav.navbar {
	background-color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-size: 0.8em;
}

nav.navbar a {
	color: rgba(0,0,0,0.75);
	font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 600; font-style: normal;
}

nav.navbar a:hover {
	color: rgba(0,0,0,1);
}

div.jumbotron {
	background: #007a87 url('../img/overlay.png');
	color: #fff;
	padding: 180px 0;
	margin: 200px 0 40px;
}

div.jumbotron a {
  color: #fff;
  font-weight: 600;
}

img {
  width: 100%;
}

div.jumbotron.first {
	background-color: #ffb400;
	margin-top: 0;
}

h1, h2 {
	font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 600; font-style: normal;
}

h1 {
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.4);
}

h2 {
	letter-spacing: 0.05em;
	font-size: 3.5em;
	text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.4);
}

h3 {
	margin: 2em 0 0.75em 0;
	font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 600; font-style: normal;
	font-size: 2em;
	letter-spacing: 0.05em;
	color: #222;
}

h4, h5 {
  margin-top: 2em;
}

h4 {
  color: #fff;
  font-size: 2em;
  font-style: italic;
}

.navbar-brand img {
	height: 100%;
}

.navbar {
	padding: 15px 0;
}

.navbar.scroll {
	    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.1);
}

p {
	font-family: "freight-text-pro";
	font-size: 17px;
  line-height: 1.7;
}

img, .row {
  margin: 3em 0;
}

.aside p {
  font-family: 'Whitney SSm A', 'Whitney SSm B';
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
}

.aside h6 {
  margin: 0 0 10px;
  font-size: 13px;
}

.header h1 {

}

div.aside p {
	font-size: 0.9em;
}

div.jumbotron p {
	letter-spacing: 0.02em;
	line-height: 1.6;
	width: 80%;
	margin-top: 40px;
	font-size: 1.2em;
	font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 400; font-style: italic;
	text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.4);
}

.btn {
	font-size: 0.7em !important;
}

div.facts {
  text-align: center;
  font-size: 1.3em;
  margin: 3em 0;
}

div.facts h6 {
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;

}

div.facts span {
  background-color: #EFEFEF;
  display: block;
  margin: 1em;
  padding: 2em 0;
}

div.facts .left span {
  margin-right: 0;
}

div.facts .right span {
  margin-left: 0;
}

div.facts span strong {
  display: block;
  font-size: 2.2em;
}

div.facts span small {
  display: block;
  margin-top: 2em;
  font-size: 0.5em;
}

div.facts span small em {
  font-weight: 700;
  font-style: normal;
}

div.deutschland {
  color: #7f7f7f;
  text-align: center;
  font-size: 1em;
}

div.deutschland span {
  background-color: #EFEFEF;
  display: block;
  margin: 0.5em;
}

table.rechnung {
  width: 50%;
  max-width: 300px;
  margin: 2em auto;
}

table.rechnung thead {
  font-weight: 600;
}

table.rechnung tr td {
  padding: 0.5em 5px;
}

table.rechnung tr td.zahl {
  text-align: right;
  font-weight: 600;
}

table.rechnung tr.summe {
  border-top: 1px solid #aaa;
  vertical-align: top;
}

table.rechnung tr.summe td {
  padding: 2px 0;
}

table.rechnung tr.summe td span {
  padding-top: 10px;
  display: block;
  border-top: 1px solid #aaa;
}

/* Semantik teaser styles
-------------------------------------------------- */

.text-content, .teaser, .teaser h1, .teaser h2, .teaser h3, .teaser h4, .teaser h5, .teaser h6, .teaser .teaser-content, .teaser .teaser-row .icon, .teaser .lead, .teaser .teaser-introduction, .teaser .words-list, .teaser .words-list li, .teaser-caption {
  border-radius: 2px;
  box-sizing: border-box;
  float: left;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

.teaser {
  background-color: #f5f5f5;
  color: #4d4d4d;
  font-family: 'Whitney SSm A', 'Whitney SSm B';
  list-style: none;
  padding: 30px 0 20px;
  position: relative;
  margin-top: 30px;
}

  .teaser h1, .teaser h2, .teaser h3, .teaser h4, .teaser h5, .teaser h6 {
    margin: 0;
  }

  .teaser > div {
    border-radius: 0;
  }

    .teaser > div:first-child {
      border-radius: 2px 2px 0 0;
    }

    .teaser > div:last-child {
      border-radius: 0 0 2px 2px;
    }

  .teaser .teaser-content {
    padding: 10px 20px 30px;
    position: relative;
  }

    .teaser .teaser-content h1 {
      text-shadow: none;
      font-size: 40px;
      line-height: 0.8;
    }

    .teaser .teaser-content .chart {
      height: 40px;
      position: absolute !important;
      top: 10px;
      left: 10px;
      width: 40px;
    }
      .teaser .teaser-content .chart .c3-chart-arc text {
        display: none;
      }
      .teaser .teaser-content .chart .c3-chart-arc path {
        stroke-width: 0;
      }

  .teaser .teaser-row h1, .teaser .teaser-row p {
    padding-left: 70px;
  }

  .teaser .teaser-row h1 {
    color: #565a5c;
    font-size: 40px;
    font-weight: 800;
  }

  .teaser .teaser-row .icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    height: 40px;
    left: 20px;
    position: absolute;
    top: 17px;
    transition: background 100ms ease-out;
    width: 40px;
  }

  .teaser .teaser-row .icon:hover {
    background-size: 90% 90%;
  }

    .teaser .teaser-row .icon:hover .glyphicon:before {
      content: '\e085';
    }

  .teaser .teaser-row .glyphicon {
    border-radius: 50%;
    font-size: 14px;
    margin: 6px 7px 5px;
    padding: 6px 5px 6px 7px;
  }

  .teaser .lead {
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-size: 18px;
    line-height: 1.2em;
    margin-top: 8px;
  }

  .teaser .teaser-introduction {
    background: #fff;
  }

    .teaser .teaser-introduction .teaser-content {
      text-align: center;
    }

  .teaser .owl-item {
    text-align: center;
    font-size: 30px;
  }

    .teaser .owl-item div:before {
      content: '“';
    }

    .teaser .owl-item div:after {
      content: '”';
    }

  .teaser .owl-theme .owl-controls .owl-page span {
    background: #c2c2c2;
  }

  .teaser .owl-theme .owl-controls .owl-page.active span,
  .teaser .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #ff656a;
  }

.teaser-caption {
  background: #fff;
  color: #808080;
  font-family: 'freight-text-pro', serif;
  font-size: 12px;
  padding: 20px 30px;
}

.words-lists-link {
  color: #3e87b2;
  cursor: pointer;
  float: left;
  margin-top: 10px;
}

  .words-lists-link:hover, .words-lists-link:hover .glyphicon {
    color: #ff656a;
  }

.titles-slider {
  background: none;
}

.semantik.aside {
  float: left;
  margin-top: 40px;
}

#semantik-popup {
  display: none;
}

.mfp-content #semantik-popup {
  display: block;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.words-list {
    background: #dcdcdc;
    list-style: none;
    margin: 22px 0;
    padding: 0;
  }

  .words-list li {
    border-bottom: 1px solid #f5f5f5;
    border-radius: 0;
    padding: 6px 10px;
    width: 49%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .words-list .header {
    background: #ff656a;
    border-radius: 2px 2px 0 0;
    color: #f5f5f5;
    width: 100%;
  }

  .words-list .glyphicon-remove {
    background: none;
    cursor: pointer;
    float: right;
    margin: 0;
    padding: 2px 0 0;
  }

  .words-list .glyphicon-remove:hover {
    color: #ffcbcd;
  }

  .words-list li:last-child {
    border-bottom: 0;
    border-radius: 0 0 2px 2px;
  }

.col-sm-6 .words-list li:not(.header) {
  width: 50%;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 400; font-style: normal;
}


/* Slope Graph
-------------------------------------------------- */

line.slope-line {
    opacity: 0.6;
    stroke: black;
    stroke-width: 1;
}

line.slope-line.bad {
    stroke: #d9534f;
}

line.slope-line.good {
    stroke: #5cb85c;
}

text.slope-label {
    fill: black;
    font-size: 0.9rem;
    opacity: 0.7;
    font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 600; font-style: normal;
}

text.left_values, text.right_values {
    opacity: 0.5;
    font-size: 0.7rem;
    
}

#chokepoint line.path_line {
    opacity: 0.6;
    shape-rendering: crispEdges;
    stroke: black;
    stroke-width: 1;
}

#chokepoint text {
    fill: black;
    font-size: 0.9rem;
    opacity: 0.7;
    font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 600; font-style: normal;
}

#treemap .node {
	border: solid 1px white;
	font-size: 0.9rem;
	padding: 0;
	overflow: hidden;
	position: absolute;
	text-indent: 2px;
	text-align: left;
	font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 600; font-style: normal;
}

line.path_line {
    opacity: 0.6;
    shape-rendering: crispEdges;
    stroke: black;
    stroke-width: 1;
}

line.tick {
    opacity: 0.2;
    shape-rendering: crispEdges;
    stroke: black;
    stroke-width: 1;
}

text.path-label {
    fill: black;
    font-size: 0.9rem;
    opacity: 0.7;
    font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 600; font-style: normal;
}

.axis text {
    opacity: 0.5;
    font-size: 0.7rem;
    font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 600; font-style: normal;
}



